<div id="sidebar">
  <div class="sidebar-tab"><%= link_to "Meus pedidos", root_path %></div>
  <div class="sidebar-tab"><%= link_to "Minhas Mercadorias", root_path %></div>
  <div class="sidebar-tab"><%= link_to "Feiras que eu faço", root_path %></div>
</div>
