.farmer_products {
  background-color: #AEFFD8;
  h3 {
    display: inline;
    padding-right: 10px;
  }
}

.farmer_stalls {
  background-color: #F1FFFA;
  h3 {
    display: inline;
    padding-right: 10px;
  }
}
