.seller_orders {
  h2 {
    display: inline;
    padding-right: 10px;
  }
  p {
    color: red;
  }
}

.seller_products {
  h3 {
    display: inline;
    padding-right: 10px;
  }
}

.seller_stalls {
  h3 {
    display: inline;
    padding-right: 10px;
  }
}
