<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li><%= link_to "Sobre nós", "#" %></li>
          <li><%= link_to "Fale conosco", "#" %></li>
          <li><%= link_to "Política de privacidade", "#" %></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <p class="text-right">Redes sociais</p>
      </div>
    </div>
  </div>
</footer>
