<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-9">
        <ul class="list-inline">
          <li><%= link_to "Sobre nós", "#" %></li>
          <li><%= link_to "Fale conosco", "#" %></li>
          <li><%= link_to "Política de privacidade", "#" %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="social-media">
          <span><i class="fa fa-facebook"></i> </span>
          <span><i class="fa fa-linkedin"> </i></span>
          <span><i class="fa fa-twitter"> </i></span>
        </div>
      </div>
    </div>
  </div>
</footer>
