<div id="sidebar">
  <div class="sidebar-tab"><%= link_to "Meus pedidos", my_offers_path%></div>
  <div class="sidebar-tab"><%= link_to "Minhas Mercadorias", my_bookmarks_path %></div>
  <div class="sidebar-tab"><%= link_to "Feiras que eu faço", my_applications_path%></div>
  <div class="sidebar-tab"><%= link_to "Meu perfil", farmer_path(current_user) %></div>
</div>
