<div class="banner">
  <div class="banner-content">
    <!-- <h1>Digite seu CEP</h1> -->
    <div class="banner-content-form">


      <form action=<%=search_path%> method="get" name="search" class="fancy-form">

        <fieldset>
          <legend>Address</legend>
          <p class="instructions">Start by entering your zip code.</p>
          <div>
            <div>
              <label for="street">Street</label>
              <input type="text" name="street_user" id="street_user">
            </div>
          </div>
          <div>
            <div>
              <label for="complement">Complement</label>
              <input type="text" name="complement_user" id="complment_user">
            </div>
          </div>
          <div>
            <div class="city-wrap">
              <label for="city">City</label>
              <input type="text" name="city_user" id="city_user" style="width:220px;">
            </div>
            <div class="zip-wrap">
              <label for="zip">Zip</label>
              <input type="text" pattern="[0-9]*" maxlength="8" required name="zip_user" id="zip_user" style="width:100px;">
            </div>
            <div class="state-wrap">
              <label for="state">State</label>
              <input type="text" name="state_user" id="state_user" style="width:50px;">
              <label for="number">Number</label>
              <input type="text" name="number_user" id="number_user" style="width:50px;">
            </div>
          </div>

          <div class="submit-wrap">
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>

        </fieldset>

      </form>



<script>
function is_int(value) {
  if ((parseFloat(value) == parseInt(value)) && !isNaN(value)) {
    return true;
  } else {
    return false;
  }
}

$(".fancy-form div > div").hide();

$("#zip_user").keyup(function() {

  // Cache
  var el = $(this);

  // Did they type five integers?
  if ((el.val().length == 8) && (is_int(el.val()))) {

    // Call Ziptastic for information
    $.ajax({
      //url: "https://zip.getziptastic.com/v2/US/" + el.val(),
      url: "https://viacep.com.br/ws/"+el.val()+"/json",
      //url: "https://viacep.com.br/ws/45028170/json",
      cache: false,
      dataType: "json",
      type: "GET",
      success: function(result, success) {

        console.log(result);

        //$(".zip-error, .instructions").slideUp(200);

        $("#street_user").val(result.logradouro);

        $("#complement_user").val(result.complemento);

        //$("#city").val(result.city);
        $("#city_user").val(result.localidade);

        //$("#state").val(result.state);
        $("#state_user").val(result.uf);

        $(".fancy-form div > div").slideDown();

        $( ".submit-wrap" ).show();

        $("#zip_user").blur();
        //$("#street").show().focus();

      },
      //error: function(result, success) {
      //  $(".zip-error").slideDown(300);
      //}

    });

  } //else if (el.val().length < 5) {
    //$(".zip-error").slideUp(200);
  //};

});
</script>


<!-- ############################################################################ -->



      <%#= simple_form_for :search, url: search_path , :method => :get do |f| %>
        <!--<div class="input-group">-->
        <%#= f.input_field :search_by_cep, class: "cep-mask form-control", placeholder: "Digite seu cep", id:"autocomplete" %>
        <%#= f.input_field :postal_code, id: "postal_code", disabled: "true", placeholder: "CEP", required: true %>
        <%#= f.input_field :route, id: "route", disabled: "true", placeholder: "Rua", required: true %>
        <%#= f.input_field :locality, id: "locality", disabled: "true", placeholder: "Cidade", required: true %>
        <%#= f.input_field :administrative_area_level_1, id: "administrative_area_level_1", disabled: "true", placeholder: "Estado", required: true %>
        <!-- obs: manter o "as: :text" para que o simple_form entenda que "country" não é um "select", pois ele parece cobrar assim por default -->
        <%#= f.input_field :country, id: "country", as: :text, disabled: "true", placeholder: "País", required: true %>
        <%#= f.input_field :street_number, id: "street_number", disabled: "true", placeholder: "Número", required: true %>
        <span class="input-group-btn">
          <%#= f.submit "Buscar", class: "btn btn-primary" %>
        </span>
        <!--</div>-->
      <%# end %>

      <%#= render 'search_cep' %>
    </div>
  </div>
</div>
<div class="container">
  <h2>Como funciona</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Passo 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3>Passo 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3>Passo 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
  </div>
</div>

