<div class="banner">
  <div class="banner-content">
    <h1>Digite seu CEP</h1>
    <div class="banner-content-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="00000-000">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Buscar</button>
        </span>
      </div>
      <%= link_to "Não sei meu cep", "#", class: "banner-content-small" %>
    </div>
  </div>
</div>
