<div class="banner">
  <div class="banner-content">
    <!-- <h1>Digite seu CEP</h1> -->
    <div class="banner-content-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite seu cep">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Buscar</button>
        </span>
      </div>
      <%= link_to "Não sei meu cep", "#", class: "banner-content-small text-left" %>
    </div>
  </div>
</div>
<div class="container">
  <h2>Como funciona</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Passo 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3>Passo 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3>Passo 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
  </div>
</div>
