<div class="container fit-header">
  <div class="col-md-3 col-xs-12">
    <%= render '/overview/sidebar' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="farmer_orders">
      <h3><%=t('.farmer_orders')%></h3>
      <div class="order-card">
        <h2> Lista da ANA </h2>
        <input type="checkbox" value="">Feito a entrega</label>
        <p> 1kg de Banana, 2 bandejas de Morango, 1KG de Laranja Lima</p>
        <h3> Feira da VILA PALMEIRAS na TERÇA </h3>
        <h4>Horário de entrega entre 9 e 11h na TERÇA</h4>
      </div>
      <div class="order-card">
        <h2> Lista da Eliana </h2>
        <input type="checkbox" value="">Feito a entrega</label>
        <p> 1kg de Maça e 1 pé de Brócolis </p>
        <h3> Feira do JARAGUA no DOMINGO </h3>
        <h4>Horário de entrega entre 11 e 13h no DOMINGO</h4>
      </div>
    </div>
  </div>
</div>
