<div class="container fit-header">
  <div class="col-md-3 col-xs-12">
    <%= render '/overview/sidebar' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="farmer_products">
      <h3><%=t('.farmer_products')%></h3>
      <%= button_to t('.add'), products_path, method: "get", class: 'btn btn-primary' %>
    </div>
  </div>
</div>
