<div class="container fit-header">
  <div class="col-md-3 col-xs-12">
    <%= render '/overview/sidebar' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="farmer_stalls">
      <h3><%=t('.farmer_stalls')%></h3>
    </div>
  </div>
</div>
