

#footer {
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
  position: relative;
  z-index: 10;
  background-color: #2DD881;
  width: 100%;
  padding: 30px 0;
  margin-top: 10px;
  color: #AEFFD8;
  p {
      font-size: 12px;
  }
  ul {
      list-style-type: none;
      line-height: 2;
  }
  i {
      font-size: 30px;
      margin : 0 10px;
     }
  a {
    color: #AEFFD8;
   }
   a:hover {
    text-transform: none;
   }
}
