.card {
  color: white;
  background-color: #f7f7fa;
  display: flex;
  justify-content: space-betweeen;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

.card:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.details-market-card {
  flex: 1 1 auto;
}

.details-market-card h3 {
  font-family: $base-font;
  color:  #2EB872;
  text-shadow: 1px 1px 10px #FEFFE4;
  font-size: 1.2em;
  margin-top: 0px;
}

.market-image {
  border-radius: 10px;
  margin-right: 15px;
  width: 175px;
}

.card-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card-img {
  position: absolute;
}
.no-img {
  position: absolute;
}
.card-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-name h2 {
  font-size: 24px;
}
.card-name h3 {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.order-card {
  height: 175px;
  background-size: cover !important;
  color: grey;
  position: relative;
  margin: 5px;
}
