.tag {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 1em;
  margin: 5px;
  border: 1px solid white;
}

.tag-list {
  margin-top: 10px;
  span {
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 1em;
    line-height: 2.8;
    background-color: #AEFFD8;
    color: #2DD881;
    text-decoration: none;
  }
}

.top-banner{
  background-image: linear-gradient(90deg, #EF2D56 0%, #F45C43 75%), url('http://placehold.it/1280x720');
  background-size: cover;
  text-align: center;
  h1,h3 {
  color: #fff;
  }
}

.wrapper-products{
  background-color: #F3F3F3;
}
