.tag {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 1em;
  margin: 5px;
  border: 1px solid white;
}

.tag-list {
  margin-top: 10px;
  span {
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 1em;
    line-height: 2.8;
    background-color: #AEFFD8;
    color: #2DD881;
    text-decoration: none;
  }
}
