<div class="wrapper-products">
  <div>
    <% @products.each do |product| %>
      <div class="col-md-4 col-sm-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://placehold.it/350x350);">
            <div class="card-name">
              <h2> <%= product.name %> </h2>
            </div>
            <div class="card-price">
              <h3> R$ <%= product.price %> </h3>
            </div>
            <a class="card-link" href="/"> </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
